.account-container {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%, -50%); 
}

table, th, td {
    border: 1px solid black;
    border-radius: 5px;
}

th {
    background-color: rgb(179, 59, 59);
    color: whitesmoke;
}

th, td {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.edit-button {
    background-color: white;
    outline: none;
    border: white;
}

table {
    width: 1000px;
}
/* 
.accountspage-add-user {
    position: absolute;
    top: 25%;
    right: 8%;
    color:  rgb(179, 59, 59);
    font-size: 40px;
    background-color: white;
    border: white;
} */

.accounts-icon {
    text-shadow: 1px 3px 5px gray;
    font-size: 25px;
    outline: none;
    padding: 3px;
}

.add-account-icon {
    font-size: 55px;
    text-shadow: 3px 3px 10px gray;
    padding: 8px;
    position: absolute;
    top: 25%;
    right: 5%;
    color:  rgb(179, 59, 59);
    background-color: white;
    border: white;
}