.budgetApp {
    padding: 5px;
    border-radius: 10px;
    /* border: solid #525151; */
    background-color: #fff;
    display: grid;
  }

.budgetApp {
    justify-content: center;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    column-gap: 5px;
    row-gap: 5px;
  }

  .expense-summary {
    grid-area: 1 / 1 / 2 / 3;
  }

  .expense-overview {
    grid-area: 2 / 1 / 3 / 2;
    border: 0.5px solid rgb(187, 184, 184);
    border-radius: 5px;
    text-align: center;
  }

  .latest-transactions {
    grid-area: 2 / 2 / 4 / 3;
    border: 0.5px solid rgb(187, 184, 184);
    border-radius: 5px;
    text-align: center;
    display: grid;
  }

  .latest-transactions {
    /* justify-content: center; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    row-gap: 1px;
    padding: 1px;
    /* align-content: start; */
  }


  .title-transactions {
    /* border: 0.5px solid rgb(187, 184, 184); */
    grid-area: 1 / 1 / 2 / 2;

  }


  .tranx-list {
    /* border: 0.5px solid rgb(187, 184, 184); */
    grid-area: 2 / 1 / 3 / 2;

  }


  .view-detailed {
    /* border: 0.5px solid rgb(187, 184, 184); */
    grid-area: 3 / 1 / 4 / 2;

  }


  .categories {
    grid-area: 2 / 3 / 4 / 4;
    border: 0.5px solid rgb(187, 184, 184);
    border-radius: 5px;
    text-align: center;
  }

  .wallet {
    grid-area: 3 / 1 / 4 / 2;
    border: 0.5px solid rgb(187, 184, 184);
    border-radius: 5px;
    display: grid;
  }

  .wallet {
    /* justify-content: center; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1px;
    padding: 1px;
    /* align-content: center; */
    text-align: center;
  }

  .title-budgetBalance {
    grid-area: 1 / 1 / 2 / 2;
    /* border: 0.5px solid rgb(187, 184, 184); */
  }

  .budgetAccount {
    grid-area: 2 / 1 / 3 / 2;
    border: 0.5px solid rgb(187, 184, 184);
  }

  .addBudget {
    grid-area: 3 / 1 / 4 / 2;
    width: 90px;
    height: 30px;
    color: #fff;
    background-color: black;
    border-radius: 3px;
    align-self: center;
    justify-self: center;
  }

  .add-transactions {
    grid-area: 1 / 3 / 2 / 4;
    width: 120px;
    height: 30px;
    color: #fff;
    background-color: black;
    border-radius: 3px;
    align-self: center;
    justify-self: end;
  }