.home-icons {
    font-size: 60px;
    text-shadow: 3px 3px 10px gray;
    padding: 8px;
}

.transaction-buttons {
    display: flex;
    gap: 5px;
  }

  .trans-button, .create-account-btn, .user-account-btn, .addfeatures-btn {
    width: 120px;
    height: 100px;
    background-color: white;
    border: black;
    border-radius: 5px;
    font-weight: 700;
  }
  
  .userAccount {
    background-color: #81cfef;
    border: solid #525151;
    border-radius: 5px;
  }
  
  .createAccount, .addFeatures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;  
    border: solid #525151;
    border-radius: 5px;
    gap: 15px;
    width: 280px;
    font-weight: 700;
  }

  .create-ccount-button, .dashboard-container, .add-features-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .addFeatures {
    background-color: #fff;  
    border: solid #525151;
    border-radius: 5px;
  }

  .home-button-icon {
    font-size: 60px;
    text-shadow: 3px 3px 10px gray;
    border-radius: 5px;
  }

  .transactions, .userAccount {
    background-color: #fff;  
    border: solid #525151;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 700;
    width: 280px;
  }

  body {
    overflow-y: auto; 
  }

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
}

.greetings:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.totalbalance {
  color: green;
  font-size: 50px;
  text-shadow: 1px 5px 15px gray;
  padding: 10px;
  }

.dashBoard {
  border: none;
}

