.dashboard {
    color: rgb(31, 26, 26);
    margin-top: 40px;
    margin-left: 20px;
  }

.dashboard:hover {
    color: rgb(179, 59, 59);
  }

  
.total-expense-div, .accountBalance {
    margin-left: 125px;
    font-size: 30px;
}

.title-newtranx {
    font-size: 30px;
    margin-left: 420px;
    margin-top: 50px;
}

.form-newtranx {
    background-color: rgba(73, 165, 240, 0.7);
    padding: 20px;
    width: 50%;
    border-radius: 5px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

.box {
    width: 160px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    justify-self: center;
    align-self: center;
  }

#label1 {
    grid-area: 1 / 1 / 2 / 2;

}

#label2 {
    grid-area: 1 / 2 / 2 / 3;
}

#label3 {
    grid-area: 1 / 3 / 2 / 4;
}

#label4 {
    grid-area: 1 / 4 / 2 / 5;
}

#label5 {
    grid-area: 1 / 5 / 2 / 6;
}

#name-of-tranx {
    grid-area: 2 / 1 / 3 / 2;
}

#selectCategory {
    grid-area: 2 / 2 / 3 / 3;
}

#amount {
    grid-area: 2 / 3 / 3 / 4;
}

#owner {
    grid-area: 2 / 4 / 3 / 5;
}

#date {
    grid-area: 2 / 5 / 3 / 6;
}

.btn-newtranx {
    grid-area: 3 / 3 / 4 / 4;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    color: #fff;
    background-color: black;
    border-radius: 3px;
    align-self: center;
    justify-self: center;
}

.addBudget {
    width: 120px;
    height: 30px;
    color: #fff;
    background-color: black;
    align-self: center;
    justify-self: center;
    padding: 5px 10px;
    border-radius: 5px;
  }
