.dashboard {
    color: rgb(31, 26, 26);
    margin-top: 40px;
    margin-left: 20px;
  }

.dashboard:hover {
    color: rgb(179, 59, 59);
  }

  
.total-expense-div, .accountBalance {
    margin-left: 125px;
    font-size: 30px;
}

.title-newtranx {
    font-size: 30px;
    margin-top: 50px;
}

.form-newtranx {
    background-color: rgba(135, 111, 75, 0.454); 
    padding: 20px;
    width: 1200px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 3px solid black;
  }

.box {
    width: 160px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    justify-self: center;
    align-self: center;
  }

#label1 {
    grid-area: 1 / 1 / 2 / 2;

}

#label2 {
    grid-area: 1 / 2 / 2 / 3;
}

#label3 {
    grid-area: 1 / 3 / 2 / 4;
}

#label4 {
    grid-area: 1 / 4 / 2 / 5;
}

#label5 {
    grid-area: 1 / 5 / 2 / 6;
}

#name-of-tranx {
    grid-area: 2 / 1 / 3 / 2;
}

#selectCategory {
    grid-area: 2 / 2 / 3 / 3;
}

#amount {
    grid-area: 2 / 3 / 3 / 4;
}

#owner {
    grid-area: 2 / 4 / 3 / 5;
}

#date {
    grid-area: 2 / 5 / 3 / 6;
}

.btn-newtranx {
    grid-area: 3 / 3 / 4 / 4;
    padding: 2px 10px;
    margin-top: 10px;
    width: 180px;
    height: 40px;
    color: #fff;
    background-color: black;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    font-size: 18px;
}

.addBudget {
    width: 120px;
    height: 30px;
    color: #fff;
    background-color: black;
    align-self: center;
    justify-self: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
  }

.div-newtranx {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    overflow: auto;
}

.modal-content-enter-amount {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.modal-content-input, .modal-content-button {
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid gray;
}

.modal-content-button {
    padding: 5px;
}

.modal-content-button:hover {
    background-color: rgb(111, 8, 8);
    color: white;
}

.tranx-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transaction-history-header {
    background-color: rgb(111, 8, 8);
}

.pie-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-chart {
    padding-top: 20px;
    margin-top: 50px;
}

.transaction-history-buttons {
   align-items: center;
   margin-right: 5px;
}

.form-control {
    display: flex;
    justify-content: center;
}