h2 {
    position: absolute;
    top: 20%;
    left: 5%;
    color:  rgb(179, 59, 59);;
    text-shadow: 1px 3px 3px black;
    font-size: 40px;
}

.deposit-container, .withdraw-container {
    display: flex;
    flex-direction: column;
}

::placeholder {
    text-align: center;
}