body {
  background-color: #fff;
  }
  
  h1 {
    color: #3c393e;
  }
  
  img {
    width: 100px;
    float: left;
    margin: 10px;
  }
  
  .dashBoard {
    margin-top: 150px;
    margin-left: 280px;
    margin-right: 280px;
    padding: 30px;
    border-radius: 10px;
    border: solid black;
    background-color: #fff;
    display: grid;
  }
  
  .dashBoard {
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px;
    column-gap: 10px;
    row-gap: 10px;
  }
  
  .greetings {
    grid-area: 1 / 1 / 3 / 3;
    background-color: #ffff;  
    border: solid #525151;
    border-radius: 5px;
  }
  
  .budgetApp {
    grid-area: 3 / 1 / 5 / 5;
    background-color: #fff;
    /* border: solid #525151; */
    border-radius: 5px;
  }
  
  .userAccount {
    background-color: #81cfef;
    border: solid #525151;
    border-radius: 5px;
  }
  
  .createAccount, .addFeatures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;  
    border: solid #525151;
    border-radius: 5px;
    gap: 15px;
    width: 280px;
  }

  .create-ccount-button, .dashboard-container, .add-features-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .addFeatures {
    background-color: #fff;  
    border: solid #525151;
    border-radius: 5px;
  }

  .fa-solid {
    font-size: 60px;
    text-shadow: 3px 3px 10px gray;
  }

  .transactions, .userAccount {
    background-color: #fff;  
    border: solid #525151;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    gap: 15px;
  }

  .transaction-buttons {
    display: flex;
    gap: 5px;
  }

  .trans-button, .create-account-btn, .user-account-btn, .addfeatures-btn {
    width: 130px;
    height: 80px;
    background-color: #fff;
    border: black;
    border-radius: 5px;
  }

  button:hover {
    color: rgb(179, 59, 59);
  }

  .tranx-history {
    margin-top: 50px;
    margin-left: 420px;
  }